* 패키지 호출

In [3]:
import pandas as pd
import os

* Data 불러오기

In [4]:
# Data 경로 설정
Path_data1_Online_Act = os.getenv("HOME")+"/aiffel/Hackathon_3_L_Point/data1_Online_Act.csv"
Path_data2_Trade_Inform = os.getenv("HOME")+"/aiffel/Hackathon_3_L_Point/data2_Trade_Inform.csv"
Path_data3_Demog = os.getenv("HOME")+"/aiffel/Hackathon_3_L_Point/data3_Demog.csv"
Path_data4_Item_Class = os.getenv("HOME")+"/aiffel/Hackathon_3_L_Point/data4_Item_Class.csv"

# CSV -> DF형으로 불러오기
data1_Online_Act = pd.read_csv(Path_data1_Online_Act)
data2_Trade_Inform = pd.read_csv(Path_data2_Trade_Inform)
data3_Demog = pd.read_csv(Path_data3_Demog)
data4_Item_Class = pd.read_csv(Path_data4_Item_Class)

/home/aiffel0042/anaconda3/envs/aiffel/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# data1 : 온라인 행동 정보

len_data1 = len(data1_Online_Act)
print("data1(온라인_행동)의 갯 수:", len_data1)

data1_Online_Act.sample(5)

data1(온라인_행동)의 갯 수: 3196362

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm
1724514,32864,29,19,3,A03,20190802,11:49,2275772,NaN,NaN,36.0,3058.0,DIRECT,NaN
1906288,47080,4,4,3,A03,20190919,11:21,351136,NaN,NaN,18.0,1083.0,DIRECT,PC
179436,23098,25,6,2,A03,20190721,19:41,673364,NaN,NaN,25.0,2164.0,PUSH,NaN
1297354,6927,2,59,5,A03,20190730,10:00,1704947,NaN,NaN,269.0,4932.0,DIRECT,PC
3126879,48101,15,21,0,A01,20190828,21:33,1836121,NaN,코오롱,316.0,2063.0,unknown,mobile_app

In [6]:
# data2 : 거래 정보

len_data2 = len(data2_Trade_Inform)
print("data2(거래정보)의 갯 수:", len_data2)

data2_Trade_Inform.sample(5)

data2(거래정보)의 갯 수: 599961

,clnt_id,trans_id,trans_seq,biz_unit,pd_c,de_dt,de_tm,buy_am,buy_ct
440747,15653,21949,1,B02,1394,20190927,16:14,4090,1
65219,2201,91170,3,A03,0178,20190903,09:43,2090,1
538016,40269,6645,11,B02,0107,20190810,21:03,1600,1
110838,8218,57778,3,A03,1185,20190724,10:30,2290,1
385481,14131,23094,3,B02,1184,20190713,18:11,3900,1

* total 고객수 확인 => 11284명

In [7]:
data2_Trade_Inform['clnt_id'].nunique()

11284

In [8]:
len(list(set(data2_Trade_Inform['clnt_id'])))

11284

* 고객 별 구매 횟수

In [9]:
data2_Trade_Inform["clnt_id"].value_counts()

27221    757
42575    681
52362    623
71243    579
12198    565
        ...
32432      1
35025      1
27340      1
52443      1
14343      1
Name: clnt_id, Length: 11284, dtype: int64

* 구매 이력 총 기간 => 2019년 7월 ~ 9월 3달

In [11]:
print("최초 구매 이력 : ", min(data2_Trade_Inform['de_dt']))
print("최종 구매 이력 : ", max(data2_Trade_Inform['de_dt']))

최초 구매 이력 :  20190701
최종 구매 이력 :  20190930

In [19]:
# data3 : Demographic(인구 통계) 정보

len_data3 = len(data3_Demog)
print("data3(성별_연령)의 갯 수:", len_data3)

data3_Demog.sample(5)

data3의 갯 수: 72399

       clnt_id clnt_gender clnt_age
19856    19866     unknown  unknown
12379    12387     unknown  unknown
53627    53651     unknown  unknown
42036    42053     unknown  unknown
3150      3154     unknown  unknown

* 구매자 성별 별 구매 이력 수

In [13]:
data3_Demog["clnt_gender"].value_counts()

unknown    60154
F          10352
M           1893
Name: clnt_gender, dtype: int64

* 구매자 나이 별 구매 이력 수

In [14]:
data3_Demog["clnt_age"].value_counts()

unknown    60154
40          4948
30          4307
50          1694
20           924
60           326
10            46
Name: clnt_age, dtype: int64

In [20]:
# data4 : 상품 분류 정보

len_data4 = len(data4_Item_Class)
print("data4(상품_대중소분류)의 갯 수:", len_data4)

data4_Item_Class.sample(5)

data4의 갯 수: 1667

,pd_c,clac_nm1,clac_nm2,clac_nm3
1578,1579,Vegetables,Leaf Vegetables,Crown Daisy
1153,1154,Sea Foods,ShellFish,Ear Shells
961,962,Meats,Domestic Porks,Domestic Porks - Tenderloins
1450,1451,Tenants / Restaurants,Restaurants,Dessert
258,259,Computers,Computer Accessories,Printers / Scanners

In [16]:
data4_Item_Class["clac_nm1"].value_counts()

Fashion Accessories                          100
Meats                                         80
Sea Foods                                     76
Vegetables                                    70
Kids' Clothing                                67
Stationary / Office Supplies                  61
Fruits                                        56
Underwear / Socks and Hosiery / Homewear      53
Sport Fashion                                 52
Spices / Seasonings                           49
Cosmetics / Beauty Care                       48
Personal Care                                 38
Snack Foods                                   36
Tableware / Cooking Utensils                  35
Gardening / Pets                              35
Cooked Foods                                  35
Home / Kitchen Appliances                     33
Chilled Foods                                 32
Cleaning / Laundry / Bathroom Accessories     30
Bedding / Handicraft                          30
Kitchenware                                   30
Toy                                           29
Automotive Products                           29
Health Foods                                  29
Ball Game / Field Sports                      28
Detergents / Hygiene Goods                    28
Dried Sea Foods                               27
Furniture                                     26
Outdoor / Leisure Activities                  26
Birth Supplies / Baby Products                26
Substitute Foods                              26
Women's Clothing                              25
Beverages                                     23
Health Care                                   21
Liquors / Alcoholic Beverages                 21
Frozen Foods                                  20
Men's Clothing                                20
Coffee / Tea                                  18
Home Decor / Lighting                         18
Tenants / Restaurants                         17
Seasonal Sports                               17
Grains                                        15
Canned / Jarred Foods                         15
Video / Audio System Electronics              14
Tools / Safety Supplies                       13
Computers                                     13
Health / Fitness Training                     12
Heating / Cooling Electronics                  9
Books / Records / Instruments                  9
Dairy Products                                 9
Living / Rental Services                       6
Cell Phones / Accessories                      6
Gift Certificates / Cards                      5
Refrigerators and Washing Machines             5
Baby Foods                                     4
Travel / Leisure Services                      3
Tobacco                                        3
Finance / Insurance Service                    3
Others (Non-Products)                          2
Other Products                                 1
Name: clac_nm1, dtype: int64