In [1]:
import pandas as pd

In [2]:
# pd.read_csv?

In [4]:
DF_ex = pd.read_csv("ex1.csv")

In [5]:
DF_ex.head()

   Unnamed: 0 start          0          1          2            3          4
0           0    시작  패션의류/언더웨어     명품/쥬얼리     명품/쥬얼리       명품/쥬얼리     명품/쥬얼리
1           1   NaN    여성트랜드의류  수입명품/해외배송  수입명품/해외배송    수입명품/해외배송  수입명품/해외배송
2           2   NaN    여성브랜드의류     스포츠/레저     스포츠/레저     주방/생활/건강  시계/보석/쥬얼리
3           3   NaN      롯데백화점   스포츠패션/슈즈   스포츠패션/슈즈  문구/악기/도서/취미  패션의류/언더웨어
4           4   NaN      여성캐주얼      롯데백화점      잡화/슈즈     세제/욕실/위생    여성브랜드의류

In [9]:
DF_ex.drop(['Unnamed: 0', 'start'], axis=1, inplace=True)

In [10]:
DF_ex.head()

           0          1          2            3          4
0  패션의류/언더웨어     명품/쥬얼리     명품/쥬얼리       명품/쥬얼리     명품/쥬얼리
1    여성트랜드의류  수입명품/해외배송  수입명품/해외배송    수입명품/해외배송  수입명품/해외배송
2    여성브랜드의류     스포츠/레저     스포츠/레저     주방/생활/건강  시계/보석/쥬얼리
3      롯데백화점   스포츠패션/슈즈   스포츠패션/슈즈  문구/악기/도서/취미  패션의류/언더웨어
4      여성캐주얼      롯데백화점      잡화/슈즈     세제/욕실/위생    여성브랜드의류

In [16]:
DF_ex.iloc[0]

0    패션의류/언더웨어
1       명품/쥬얼리
2       명품/쥬얼리
3       명품/쥬얼리
4       명품/쥬얼리
Name: 0, dtype: object

In [ ]:
type

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [20]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [21]:
a

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [22]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [23]:
b = list(a.items())

In [24]:
b

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]